.sorted-items__list__item {
  display: flex;
  margin-top: 1.1em;
  font-size: 1em;
  border: 1px solid lightgrey;
  &:first-child {
    margin-top: 0;
  }
  .content {
    width: 80%;
    display: flex;
    padding: 1.5em;
    .content__image {
      display: flex;
      align-items: center;
      width: 100%;
      max-height: 13em;
      margin: 0;
      border: 1px solid lightgrey;
      img {
        max-width: 100%;
        max-height: 100%;
        flex: 1;
      }
    }
    .content__info {
      display: flex;
      flex-direction: column;
      margin: 0.8em 0 0.8em 1.5em;
      color: $blue;
      .content__info__header {
        display: flex;
        align-items: center;
        a {
          font-size: 1em;
          white-space: nowrap;
          color: $blue;
        }
        i {
          font-size: 0.5em;
          margin: 0 1em;
        }
      }
      h2 {
        font-size: 1.5em;
        margin: 0.7em 0 0;
      }
      h4 {
        font-size: 1.5em;
        margin: 0.2em 0 0.8em;
      }
      footer {
        display: flex;
        flex-wrap: wrap;
        div {
          margin: 0.5em 0;
        }
        div:first-child {
          margin-right: 15%;
        }
      }
    }
  }
  .tags {
    width: 20%;
    padding: 1.5em 1em;
    background-color: $grey;
    border-left: 1px solid lightgrey;
    div {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      &:first-child {
        margin-top: 0;
      }
      a {
        color: $blue;
      }
    }
    .tags__upgrade {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      button {
        padding: 0.4em;
        margin: 0.3em 0 0 0.3em;
        font-size: 0.8em;
        background-color: $blue;
        transition: background-color .3s;
        color: white;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
          background-color: $light_blue;
        }
      }
    }
  }
}
.sorted-items__list__item {
  @include breakpointMaxWidth(1100px) {
    .content {
      padding: 1em;
      .content__image {
        min-width: 12em;
        max-height: 18em;
      }
    }
    .tags {
      padding: 1em;
    }
    .content .content__info .content__info__header {
      flex-wrap: wrap;
      a {
        white-space: normal;
      }
    }
  }
  @include breakpointMaxWidth($sm-width) {
    flex-direction: column;
    .content {
      width: auto;
      flex-direction: column;
      .content__image {
        max-height: 100%;
        min-height: 18em;
      }
      .content__info {
        margin: 0.8em 0 0 0;
        text-align: center;
        .content__info__header {
          display: block;
          text-align: center;
        }
        h2 {
          margin-top: 2em;
        }
        h4 {
          margin-bottom: 0.3em;
        }
        footer {
          display: block;
          text-align: center;
          div:first-child {
            margin-right: 0;
          }
        }
      }
    }
    .tags {
      width: auto;
      text-align: center;
      .tags__upgrade {
        display: block;
      }
    }
  }
}