@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$font: 'Source Sans Pro', sans-serif;
$max-width: 874px;
$background-grey: #eeeeee;
$background-blue: #17394a;
$background-light_blue: rgba(23, 57, 74, 0.62);
$background-orange: #ff7c23;
$background-green: #0fbc20;
$padding-sections: 3.4em;