//Screen sizes
$lg-width: 945px;
$md-width: 835px;
$sm-width: 600px;

//Max with of main container
$max-width: 1175px;

//Colors
$white: #fff;
$grey: #eee;
$darkGrey: rgb(211, 211, 211);
$blue: #17394a;
$lightBlue: rgba(23, 57, 74, 0.62);
$brightBlue: #1e78ff;
$orange: #ff7c23;
$lightOrange: rgba(255, 158, 51, 1);
$green: rgb(15, 188, 32);

//Right and left padding of inner sections
$paddingSections: 1.5em;
