$lg-width: 945px;
$md-width: 835px;
$sm-width: 600px;

$max-width: 1175px;

$background-grey: #eeeeee;
$background-blue: #17394a;
$background-light_blue: rgba(23, 57, 74, 0.62);
$background-orange: #ff7c23;
$background-light_orange: rgba(255, 158, 51, 1);
$background-green: rgb(15, 188, 32);
$padding-sections: 1.5em;