.sidebar {
  padding: 1.5em;
  background-color: $grey;

  @include breakpointMaxWidth($md-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include breakpointMaxWidth($sm-width) {
    padding: 1em;
  }

  h5 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: $blue;
  }

  .sidebar__container {
    width: 13em;
    border: 1px solid $blue;
    margin-top: 1em;

    @include breakpointMaxWidth($md-width) {
      width: 50%;
    }

    @include breakpointMaxWidth($sm-width) {
      width: 80%;
    }
  }

  .subtype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em;
    background-color: $blue;

    h6 {
      margin: 0;
      font-size: 0.9em;
      color: $white;
    }

    button {
      padding: 0;
      border: none;
      border-bottom: 1px solid $white;
      transition: border 0.3s;
      font-size: 0.9em;
      color: $white;
      background: none;
      outline: none;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }

  .subtype-search {
    padding: 0 0.5rem;
    background-color: $white;

    .subtype-search__search {
      width: 98%;
      padding: 0.4em 0 0.4em 0.5em;
      border: 1px solid  $lightBlue;
      margin-top: 0.7em;
      font-size: 0.8em;
      outline: none;

      @include breakpointMaxWidth($md-width) {
        padding: 0.5em 0 0.5em 0.5em;
        font-size: 1em;
      }
    }

    .subtype-search__list {
      display: flex;
      flex-direction: column;
      height: 12em;
      overflow-y: scroll;
      overflow-x: hidden;

      div {
        margin-top: 0.8em;
        font-size: 1em;
      }

      .checkbox {
        width: 0.8em;
        border: 1px solid $lightBlue;
        margin: 0 0.5em 0 0;

        @include breakpointMaxWidth($md-width) {
          width: 1.5em;
        }
      }

      label {
        @include breakpointMaxWidth($md-width) {
          font-size: 1.2em;
        }
      }
    }
  }
}
