@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "main.scss";
@import "mixins.scss";
@import "header.scss";
@import "search-section.scss";
@import "sidebar.scss";
@import "search-tags.scss";
@import "list-item.scss";
@import "main-section.scss";

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}
