@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'main';
@import 'mixins';
@import 'header';
@import 'search-section';
@import 'sidebar';
@import 'search-tags';
@import 'list-item';
@import 'main-section';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}
