@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.main-header {
  position: absolute;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  z-index: 222; }

@media screen and (max-width: 835px) {
  .main-header {
    background-color: #fff; }
  .main-header .show-toggle {
    visibility: visible;
    height: 20em;
    opacity: 1;
    background-color: #eee; }
  .main-header .show-toggle a {
    border-top: 2px solid #17394a; } }

.main-header .main-header__logo {
  width: 15em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  background-color: #fff;
  border-right: 1px solid #eee; }

@media screen and (max-width: 945px) {
  .main-header .main-header__logo {
    width: 8em;
    border-right: none; } }

.main-header .main-header__logo img {
  width: 100%; }

@media screen and (max-width: 945px) {
  .main-header .main-header__logo img {
    width: 8em; } }

.main-header nav {
  display: flex;
  align-items: center;
  height: 4em; }

@media screen and (max-width: 835px) {
  .main-header nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    padding: 0 1em 1em;
    margin-top: 4em;
    flex-direction: column;
    transition: visibility 0.3s, height 0.3s, opacity 0.3s;
    opacity: 0;
    background-color: #fff; } }

.main-header nav .hide {
  display: none; }

@media screen and (max-width: 835px) {
  .main-header nav .hide {
    display: flex; } }

.main-header nav a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  font-size: 0.8em;
  border-right: 1px solid #eee;
  font-weight: 700;
  color: rgba(23, 57, 74, 0.62);
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none; }

@media (min-width: 790px) and (max-width: 945px) {
  .main-header nav a {
    padding: 0 1em; } }

@media screen and (max-width: 835px) {
  .main-header nav a {
    width: 100%;
    padding: 0;
    font-size: 1.2em;
    color: #17394a;
    border-right: none;
    border-top: none; } }

.main-header nav a i {
  transition: color 0.3s;
  margin-right: 0.2rem;
  font-size: 1.5em;
  color: #eee; }

@media screen and (max-width: 835px) {
  .main-header nav a i {
    color: #17394a;
    margin: 0 0.5em 0 1em; } }

.main-header nav a:last-child {
  border-right: 1px solid #fff; }

.main-header nav a:hover {
  color: #17394a;
  background-color: #ff7c23;
  border-right: 1px solid #ff7c23; }

.main-header nav a:hover i {
  color: #fff; }

.main-header .main-header__profile {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2em;
  margin-left: auto;
  background-color: #eee;
  text-decoration: none; }

@media (min-width: 790px) and (max-width: 945px) {
  .main-header .main-header__profile {
    padding: 0 1em; } }

@media screen and (max-width: 835px) {
  .main-header .main-header__profile {
    display: none; } }

.main-header .main-header__profile i {
  transition: opacity 0.3s;
  opacity: 0.6;
  font-size: 1.5em;
  color: rgba(23, 57, 74, 0.62); }

.main-header .main-header__profile:hover i {
  opacity: 1; }

.toggle-container {
  display: none;
  align-items: center;
  width: 4em;
  height: 100%;
  margin-left: auto;
  background-color: #eee;
  cursor: pointer; }

@media screen and (max-width: 835px) {
  .toggle-container {
    display: flex; } }

.nav-toggle {
  padding: 1.2em;
  margin: 0 auto; }

.hide {
  display: none; }

.search {
  padding: calc(1.5em * 2);
  margin: 0 auto;
  background-color: #17394a;
  color: #fff; }

@media screen and (max-width: 600px) {
  .search {
    padding: 2em; } }

.search__container h3 {
  margin: 0 0 0.5em;
  font-size: 2em;
  font-weight: 400; }

@media screen and (max-width: 835px) {
  .search__container h3 {
    text-align: center;
    font-size: 1.5em; } }

.search__container h6 {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 400; }

@media screen and (max-width: 835px) {
  .search__container h6 {
    text-align: center;
    font-size: 0.9em; } }

.search__container h6 a {
  margin-left: 0.5em;
  color: #fff; }

.search__container .search__container__form {
  display: flex;
  margin-top: 1.5em; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form {
    flex-direction: column;
    align-items: center; } }

.search__container .search__container__form .form-control {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin-right: 1.7em; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form .form-control {
    width: 70%;
    flex-direction: column-reverse;
    margin: 0 0 1em; } }

@media screen and (max-width: 600px) {
  .search__container .search__container__form .form-control {
    width: 100%; } }

.search__container .search__container__form .form-control:last-child {
  width: 25%;
  margin-right: 0; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form .form-control:last-child {
    width: 70%; } }

@media screen and (max-width: 600px) {
  .search__container .search__container__form .form-control:last-child {
    width: 100%; } }

.search__container .search__container__form .form-control input {
  width: 97%;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 10px #1e78ff;
  outline: none; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form .form-control input {
    width: auto; } }

.search__container .search__container__form .form-control button {
  width: 100%;
  height: 2.25em;
  opacity: 1;
  background-color: #0fbc20;
  transition: color 0.3s, opacity 0.3s;
  color: #fff;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form .form-control button {
    margin-top: 2em; } }

.search__container .search__container__form .form-control button:hover {
  color: #17394a;
  opacity: 0.7; }

.search__container .search__container__form .form-control label {
  margin-top: 0.5em;
  font-size: 1em;
  white-space: nowrap; }

@media screen and (max-width: 835px) {
  .search__container .search__container__form .form-control label {
    margin: 0 0 0.5em; } }

.sidebar {
  padding: 1.5em;
  background-color: #eee; }

@media screen and (max-width: 835px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 600px) {
  .sidebar {
    padding: 1em; } }

.sidebar h5 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #17394a; }

.sidebar .sidebar__container {
  width: 13em;
  margin-top: 1em;
  border: 1px solid #17394a; }

@media screen and (max-width: 835px) {
  .sidebar .sidebar__container {
    width: 50%; } }

@media screen and (max-width: 600px) {
  .sidebar .sidebar__container {
    width: 80%; } }

.sidebar .subtype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  background-color: #17394a; }

.sidebar .subtype h6 {
  margin: 0;
  font-size: 0.9em;
  color: #fff; }

.sidebar .subtype button {
  padding: 0;
  transition: border 0.3s;
  color: #fff;
  font-size: 0.9em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  cursor: pointer; }

.sidebar .subtype button:hover {
  border-bottom: 1px solid #17394a; }

.sidebar .subtype-search {
  height: 15em;
  padding: 0 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff; }

.sidebar .subtype-search .subtype-search__search {
  width: 98%;
  padding: 0.4em 0 0.4em 0.5em;
  margin-top: 0.7em;
  font-size: 0.8em;
  border: 1px solid rgba(23, 57, 74, 0.62);
  outline: none; }

@media screen and (max-width: 835px) {
  .sidebar .subtype-search .subtype-search__search {
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1em; } }

.sidebar .subtype-search .subtype-search__list {
  display: flex;
  flex-direction: column; }

.sidebar .subtype-search .subtype-search__list div {
  display: flex;
  align-items: center;
  margin-top: 0.8em;
  font-size: 1em; }

.sidebar .subtype-search .subtype-search__list .checkbox {
  width: 0.8em;
  margin: 0 0.5em 0 0;
  border: 1px solid rgba(23, 57, 74, 0.62); }

@media screen and (max-width: 835px) {
  .sidebar .subtype-search .subtype-search__list .checkbox {
    width: 1.5em; } }

@media screen and (max-width: 835px) {
  .sidebar .subtype-search .subtype-search__list label {
    font-size: 1.2em; } }

.search-tags {
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-bottom: 2px solid #eee; }

.search-tags a {
  margin-right: 1em;
  color: #17394a;
  font-size: 1em;
  cursor: pointer; }

.search-tags button {
  height: 2em;
  padding: 0 1em;
  margin-right: 0.8em;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  font-size: 1em;
  background-color: #ff7c23;
  color: #eee;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none; }

@media screen and (max-width: 1100px) {
  .search-tags button {
    padding: 0 0.5em;
    margin: 0.5em 0.4em 0 0; } }

.search-tags button i {
  margin-right: 0.5em;
  font-size: 1em; }

.search-tags button:first-child {
  height: auto;
  padding: 0;
  color: #17394a;
  background: none;
  border: none;
  border-bottom: 1px solid #17394a; }

@media screen and (max-width: 1100px) {
  .search-tags button:first-child {
    margin: 0 80% 0.5em 0; } }

.search-tags button:first-child:hover {
  background: none;
  border-bottom: none;
  border-bottom: 1px solid #fff; }

.search-tags button:last-child {
  margin-right: 0; }

.search-tags button:hover {
  color: #17394a;
  background-color: #ff9e33; }

.sorted-items__list__item {
  display: flex;
  margin-top: 1.1em;
  font-size: 1em;
  border: 1px solid lightgray; }

@media screen and (max-width: 1160px) {
  .sorted-items__list__item {
    flex-direction: column; } }

.sorted-items__list__item:first-child {
  margin-top: 0; }

.content {
  width: 80%;
  display: flex;
  padding: 1.5em; }

@media screen and (max-width: 1160px) {
  .content {
    width: auto; } }

@media screen and (max-width: 600px) {
  .content {
    width: auto;
    flex-direction: column; } }

.content .content__image {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 13em;
  margin: 0;
  border: 1px solid lightgray; }

@media screen and (max-width: 1160px) {
  .content .content__image {
    width: 20em;
    height: 20em; } }

@media screen and (max-width: 600px) {
  .content .content__image {
    width: 100%;
    max-height: 100%;
    min-height: 18em; } }

.content .content__image img {
  max-width: 100%;
  max-height: 100%;
  flex: 1; }

.content .content__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.8em 0 0.8em 1.5em;
  color: #17394a; }

@media screen and (max-width: 600px) {
  .content .content__info {
    margin: 0.8em 0 0;
    text-align: center; } }

.content .content__info .content__info__header {
  display: flex;
  align-items: center; }

@media screen and (max-width: 1100px) {
  .content .content__info .content__info__header {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .content .content__info .content__info__header {
    display: block;
    text-align: center; } }

.content .content__info .content__info__header a {
  font-size: 1em;
  white-space: nowrap;
  color: #17394a; }

@media screen and (max-width: 1100px) {
  .content .content__info .content__info__header a {
    white-space: normal; } }

.content .content__info .content__info__header i {
  font-size: 0.5em;
  margin: 0 1em; }

.content .content__info h2 {
  font-size: 1.5em;
  margin: 0.7em 0 0; }

@media screen and (max-width: 600px) {
  .content .content__info h2 {
    margin-top: 2em; } }

.content .content__info h4 {
  font-size: 1.5em;
  margin: 0.2em 0 0.8em; }

@media screen and (max-width: 600px) {
  .content .content__info h4 {
    margin-bottom: 0.3em; } }

.content .content__info footer {
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 600px) {
  .content .content__info footer {
    display: block;
    text-align: center; } }

.content .content__info footer div {
  margin: 0.5em 0; }

.content .content__info footer div:first-child {
  margin-right: 15%; }

@media screen and (max-width: 600px) {
  .content .content__info footer div:first-child {
    margin-right: 0; } }

.tags {
  width: 20%;
  padding: 1.5em 1em;
  background-color: #eee;
  border-left: 1px solid lightgray; }

@media screen and (max-width: 1160px) {
  .tags {
    width: auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap; } }

@media screen and (max-width: 1100px) {
  .tags {
    padding: 1em; } }

@media screen and (max-width: 600px) {
  .tags {
    display: block;
    width: auto;
    text-align: center; } }

.tags div {
  display: flex;
  flex-direction: column;
  margin-top: 1em; }

@media (min-width: 600px) and (max-width: 1160px) {
  .tags div {
    flex-direction: row;
    margin: 0 0.5em 0 0; } }

.tags div:first-child {
  margin-top: 0; }

.tags div a {
  color: #17394a; }

@media (min-width: 600px) and (max-width: 1160px) {
  .tags div a {
    margin-right: 0.5em; } }

.tags .tags__upgrade {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap; }

@media screen and (max-width: 600px) {
  .tags .tags__upgrade {
    display: block; } }

.tags .tags__upgrade button {
  padding: 0.4em;
  margin: 0.3em 0 0 0.3em;
  font-size: 0.8em;
  background-color: #17394a;
  transition: background-color 0.3s;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none; }

.tags .tags__upgrade button:hover {
  background-color: rgba(23, 57, 74, 0.62); }

main {
  display: block;
  padding-top: 4em; }

.main {
  display: flex; }

@media screen and (max-width: 835px) {
  .main {
    flex-direction: column; } }

.main .main__content {
  width: 100%; }

.main .sorted-items {
  padding: 1.5em; }

.main .sorted-items .sorted-items__sorted-by {
  display: flex;
  justify-content: space-between; }

.main .sorted-items .sorted-items__sorted-by label {
  font-size: 1.5em; }

.main .sorted-items .sorted-items__sorted-by div {
  position: relative; }

.main .sorted-items .sorted-items__sorted-by div::after {
  content: '▼';
  position: absolute;
  right: 1px;
  top: 1px;
  height: 0.88em;
  padding: 0.3em 0.5em 0.7em;
  background-color: #eee;
  pointer-events: none; }

.main .sorted-items .sorted-items__sorted-by select {
  display: block;
  width: 9em;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  color: lightgray;
  border: 1px solid rgba(23, 57, 74, 0.62);
  background-color: #fff;
  cursor: pointer;
  outline: none; }

.main .sorted-items .sorted-items__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }

@media screen and (max-width: 835px) {
  .cover-bg {
    position: fixed;
    top: 0;
    z-index: 111;
    width: 100%;
    height: 100%;
    background: #dfdfdf;
    opacity: 0.5; } }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.container {
  position: relative;
  max-width: 1175px;
  margin: 0 auto; }
