@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.header {
  position: absolute;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  z-index: 2; }

.header .header__logo {
  width: 15em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  background-color: white;
  border-right: 1px solid #eeeeee; }

.header .header__logo img {
  width: 100%; }

.header nav {
  display: flex;
  align-items: center;
  height: 4em; }

.header nav a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  transition: all 0.3s;
  font-size: 0.8em;
  border-right: 1px solid #eeeeee;
  font-weight: 700;
  color: rgba(23, 57, 74, 0.62);
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none; }

.header nav a i {
  margin-right: 0.2rem;
  font-size: 1.5em;
  color: #eeeeee; }

.header nav a:last-child {
  border-right: 1px solid white; }

.header nav a:hover {
  color: #17394a;
  background-color: #ff7c23;
  border-right: 1px solid #ff7c23; }

.header nav a:hover i {
  color: white; }

.header .header__profile {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2em;
  margin-left: auto;
  transition: opacity 0.3s;
  background-color: #eeeeee;
  text-decoration: none; }

.header .header__profile i {
  opacity: 0.6;
  font-size: 1.5em;
  color: rgba(23, 57, 74, 0.62); }

.header .header__profile:hover i {
  opacity: 1; }

.toggle-container {
  display: none;
  align-items: center;
  width: 4em;
  height: 100%;
  margin-left: auto;
  background-color: #eeeeee;
  cursor: pointer; }

.nav-toggle {
  padding: 1.2em;
  margin: 0 auto; }

.hide {
  display: none !important; }

@media (min-width: 790px) and (max-width: 945px) {
  .header nav a {
    padding: 0 1em; }
  .header .header__profile {
    padding: 0 1em; } }

@media (max-width: 945px) {
  .header .header__logo {
    width: 8em;
    border-right: none; }
  .header .header__logo img {
    width: 8em; } }

@media (max-width: 835px) {
  .header {
    background-color: white; }
  .header nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20em;
    max-height: 0;
    display: flex;
    align-items: flex-start;
    padding: 1em;
    margin-top: 4em;
    flex-direction: column;
    transition: all .3s;
    opacity: 0;
    z-index: -1;
    background: white; }
  .header nav .hide {
    display: flex !important; }
  .header nav a {
    width: 100%;
    padding: 0;
    font-size: 1.3em;
    color: #17394a;
    border-right: none;
    border-top: none; }
  .header nav a i {
    color: #17394a;
    margin: 0 0.5em 0 1em; }
  .header .header__profile {
    display: none; }
  .header .toggle-container {
    display: flex; }
  .header .show-toggle {
    height: 20em;
    max-height: 20em;
    opacity: 1;
    z-index: 2;
    background-color: #eee; }
  .header .show-toggle a {
    border-top: 2px solid #17394a; } }

.search {
  padding: calc(1.5em * 2);
  margin: 0 auto;
  background-color: #17394a;
  color: white; }

.search .search__container h3 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
  font-weight: 400; }

.search .search__container h6 {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 400; }

.search .search__container h6 a {
  margin-left: 0.5em;
  color: white; }

.search .search__container .search__container__form {
  display: flex;
  margin-top: 1.5em; }

.search .search__container .search__container__form .form-control {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin-right: 1.7em; }

.search .search__container .search__container__form .form-control:last-child {
  width: 25%;
  margin-right: 0; }

.search .search__container .search__container__form .form-control input {
  width: 97%;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 10px #1e78ff;
  outline: none; }

.search .search__container .search__container__form .form-control button {
  width: 100%;
  height: 2.25em;
  transition: opacity 0.3s;
  opacity: 1;
  background-color: #0fbc20;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none; }

.search .search__container .search__container__form .form-control button:hover {
  color: #17394a;
  opacity: 0.7; }

.search .search__container .search__container__form .form-control label {
  margin-top: 0.5em;
  font-size: 1em;
  white-space: nowrap; }

@media (max-width: 945px) {
  .search .search__container h3 {
    text-align: center;
    font-size: 1.5em; }
  .search .search__container h6 {
    text-align: center;
    font-size: 1.2em; }
  .search .search__container .search__container__form {
    flex-direction: column;
    align-items: center; }
  .search .search__container .search__container__form .form-control {
    width: 70%;
    flex-direction: column-reverse;
    margin: 0 0 1em 0; }
  .search .search__container .search__container__form .form-control:last-child {
    width: 70%; }
  .search .search__container .search__container__form .form-control input {
    width: auto; }
  .search .search__container .search__container__form .form-control button {
    margin-top: 2em; }
  .search .search__container .search__container__form .form-control label {
    margin: 0 0 0.5em 0; } }

@media (max-width: 600px) {
  .search {
    padding: 2em; }
  .search .search__container .search__container__form .form-control {
    width: 100%; }
  .search .search__container .search__container__form .form-control:last-child {
    width: 100%; } }

.sidebar {
  padding: 1.5em;
  background-color: #eeeeee; }

.sidebar h5 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #17394a; }

.sidebar .sidebar__container {
  width: 13em;
  margin-top: 1em;
  border: 1px solid #17394a; }

.sidebar .subtype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  background-color: #17394a; }

.sidebar .subtype h6 {
  margin: 0;
  font-size: 0.9em;
  color: white; }

.sidebar .subtype button {
  padding: 0;
  transition: all .3s;
  color: white;
  font-size: 0.9em;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  cursor: pointer; }

.sidebar .subtype button:hover {
  border-bottom: 1px solid #17394a; }

.sidebar .subtype-search {
  height: 15em;
  padding: 0 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white; }

.sidebar .subtype-search .subtype-search__search {
  width: 98%;
  padding: 0.4em 0 0.4em 0.5em;
  margin-top: 0.7em;
  font-size: 0.8em;
  border: 1px solid rgba(23, 57, 74, 0.62);
  outline: none; }

.sidebar .subtype-search .subtype-search__list {
  display: flex;
  flex-direction: column; }

.sidebar .subtype-search .subtype-search__list div {
  display: flex;
  align-items: center;
  margin-top: 0.8em;
  font-size: 1em; }

.sidebar .subtype-search .subtype-search__list div .checkbox {
  width: 0.8em;
  margin: 0 0.5em 0 0;
  border: 1px solid rgba(23, 57, 74, 0.62); }

@media (max-width: 835px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sidebar .sidebar__container {
    width: 50%; }
  .sidebar .sidebar__container .subtype-search .subtype-search__search {
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 1em; }
  .sidebar .sidebar__container .subtype-search .subtype-search__list div .checkbox {
    width: 1.5em; }
  .sidebar .sidebar__container .subtype-search .subtype-search__list div label {
    font-size: 1.2em; } }

@media (max-width: 600px) {
  .sidebar {
    padding: 1em; }
  .sidebar .sidebar__container {
    width: 80%; } }

.search-tags {
  display: flex;
  align-items: center;
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-bottom: 2px solid #eeeeee; }

.search-tags a {
  margin-right: 1em;
  color: #17394a;
  font-size: 1em;
  cursor: pointer; }

.search-tags button {
  height: 2em;
  padding: 0 1em;
  margin-right: 0.8em;
  transition: all 0.3s;
  font-size: 1em;
  background-color: #ff7c23;
  color: #eeeeee;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none; }

.search-tags button i {
  margin-right: 0.5em;
  font-size: 1em; }

.search-tags button:first-child {
  height: auto;
  padding: 0;
  color: #17394a;
  background: none;
  border: none;
  border-bottom: 1px solid #17394a; }

.search-tags button:first-child:hover {
  background: none;
  border-bottom: none;
  border-bottom: 1px solid white; }

.search-tags button:last-child {
  margin-right: 0; }

.search-tags button:hover {
  color: #17394a;
  background-color: #ff9e33; }

@media (max-width: 1100px) {
  .search-tags {
    display: block; }
  .search-tags button {
    padding: 0 0.5em;
    margin: 0.5em 0.4em 0 0; }
  .search-tags button:first-child {
    margin: 0 90% 0.5em 0; } }

.sorted-items__list__item {
  display: flex;
  margin-top: 1.1em;
  font-size: 1em;
  border: 1px solid lightgrey; }

.sorted-items__list__item:first-child {
  margin-top: 0; }

.sorted-items__list__item .content {
  width: 80%;
  display: flex;
  padding: 1.5em; }

.sorted-items__list__item .content .content__image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid lightgrey; }

.sorted-items__list__item .content .content__image img {
  max-width: 100%;
  max-height: 100%;
  flex: 1; }

.sorted-items__list__item .content .content__info {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0 0.8em 1.5em;
  color: #17394a; }

.sorted-items__list__item .content .content__info .content__info__header {
  display: flex;
  align-items: center; }

.sorted-items__list__item .content .content__info .content__info__header a {
  font-size: 1em;
  white-space: nowrap;
  color: #17394a; }

.sorted-items__list__item .content .content__info .content__info__header i {
  font-size: 0.5em;
  margin: 0 1em; }

.sorted-items__list__item .content .content__info h2 {
  font-size: 1.5em;
  margin: 0.7em 0 0; }

.sorted-items__list__item .content .content__info h4 {
  font-size: 1.5em;
  margin: 0.2em 0 0.8em; }

.sorted-items__list__item .content .content__info footer {
  display: flex;
  flex-wrap: wrap; }

.sorted-items__list__item .content .content__info footer div {
  margin: 0.5em 0; }

.sorted-items__list__item .content .content__info footer div:first-child {
  margin-right: 15%; }

.sorted-items__list__item .tags {
  width: 20%;
  padding: 1.5em 1em;
  background-color: #eeeeee;
  border-left: 1px solid lightgrey; }

.sorted-items__list__item .tags div {
  display: flex;
  flex-direction: column;
  margin-top: 1em; }

.sorted-items__list__item .tags div:first-child {
  margin-top: 0; }

.sorted-items__list__item .tags div a {
  color: #17394a; }

.sorted-items__list__item .tags .tags__upgrade {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap; }

.sorted-items__list__item .tags .tags__upgrade button {
  padding: 0.4em;
  margin: 0.3em 0 0 0.3em;
  font-size: 0.8em;
  background-color: #17394a;
  color: white;
  border: none;
  cursor: pointer;
  outline: none; }

.sorted-items__list__item .tags .tags__upgrade button:hover {
  background-color: rgba(23, 57, 74, 0.62); }

@media (max-width: 1100px) {
  .sorted-items__list__item .content {
    padding: 1em; }
  .sorted-items__list__item .tags {
    padding: 1em; }
  .sorted-items__list__item .content .content__info .content__info__header {
    flex-wrap: wrap; }
  .sorted-items__list__item .content .content__info .content__info__header a {
    white-space: normal;
    word-break: break-word; } }

@media (max-width: 600px) {
  .sorted-items__list__item {
    flex-direction: column; }
  .sorted-items__list__item .content {
    width: auto;
    flex-direction: column; }
  .sorted-items__list__item .content .content__info {
    margin: 0.8em 0 0 0;
    text-align: center; }
  .sorted-items__list__item .content .content__info .content__info__header {
    display: block;
    text-align: center; }
  .sorted-items__list__item .content .content__info h2 {
    margin-top: 0.3em; }
  .sorted-items__list__item .content .content__info h4 {
    margin-bottom: 0.3em; }
  .sorted-items__list__item .content .content__info footer {
    display: block;
    text-align: center; }
  .sorted-items__list__item .content .content__info footer div:first-child {
    margin-right: 0; }
  .sorted-items__list__item .tags {
    width: auto;
    text-align: center; }
  .sorted-items__list__item .tags .tags__upgrade {
    display: block; } }

main {
  display: block;
  padding-top: 4em; }

main .main {
  display: flex; }

main .main .main__content {
  width: 100%; }

main .main .main__content .sorted-items {
  padding: 1.5em; }

main .main .main__content .sorted-items .sorted-items__sorted-by {
  display: flex;
  justify-content: space-between; }

main .main .main__content .sorted-items .sorted-items__sorted-by label {
  font-size: 1.5em; }

main .main .main__content .sorted-items .sorted-items__sorted-by div {
  position: relative; }

main .main .main__content .sorted-items .sorted-items__sorted-by div select {
  display: block;
  width: 9em;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  color: grey;
  border: 1px solid rgba(23, 57, 74, 0.62);
  background-color: white;
  cursor: pointer;
  outline: none; }

main .main .main__content .sorted-items .sorted-items__sorted-by div:after {
  content: '▼';
  position: absolute;
  right: 1px;
  top: 1px;
  height: 0.88em;
  padding: 0.3em 0.5em 0.7em 0.5em;
  background-color: #eeeeee;
  pointer-events: none; }

main .main .main__content .sorted-items .sorted-items__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }

@media (max-width: 835px) {
  .main {
    flex-direction: column; }
  .cover-bg {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #dfdfdf;
    opacity: .5; } }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

.container {
  position: relative;
  max-width: 1174px;
  margin: 0 auto; }
