@import "main.scss";

body {
  margin: 0;
  font-family: $font;
}

.header {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $background-grey;
  .header-container {
    display: flex;
    align-items: center;
    nav {
      width: 82%;
      display: flex;
      align-items: center;
      padding-left: $padding-sections;
      background-color: white;
      a {
        height: 4.7em;
        display: flex;
        align-items: center;
        padding: 0 0.8rem;
        font-size: 10px;
        border-right: 1px solid $background-grey;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;
        span {
          font-weight: 700;
          color: $background-blue;
        }
        i {
          margin-right: 0.2rem;
          font-size: 12px;
          color: $background-grey;
        }
        &:first-child {
          width: 170px;
          padding: 0;
          background-color: lightgrey;
          span {
            margin: 0 auto;
          }
          &:hover {
            background-color: white;
            border-right: 1px solid $background-grey;
            span {
              color: $background-blue;
            }
          }
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: $background-orange;
          border-right: 1px solid $background-orange;
          span {
            color: white;
          }
        }
      }
    }
    .header-container__profile {
      margin-left: auto;
      padding-right: $padding-sections;
      i {
        font-size: 20px;
        color: $background-blue
      }
    }
  }
}


main {
  max-width: $max-width;
  margin: 0 auto;
  .search {
    max-width: $max-width;
    padding: 1.5em $padding-sections 1.3rem $padding-sections;
    margin: 0 auto;
    background-color: $background-blue;
    color: white;
    .search__container {
      h3 {
        margin: 0.5rem 0;
        font-size: 21px;
        font-weight: 400;
      }
      p {
        margin: 0.5rem 0;
        font-size: 13px;
      }
      a {
        color: white;
      }
      .search__container__form {
        display: flex;
        margin-top: 1.2em;
        .form-control {
          width: 24%;
          margin-right: 1.7em;
          &:last-child {
            width: 25%;
            margin-right: 0;
          }
          input {
            width: 97%;
            height: 25px;
            padding-left: 0.5em;
            border: 1px solid  $background-light_blue;
          }
          button {
            width: 100%;
            height: 29px;
            background-color: $background-green;
            color: white;
            font-size: 10px;
            border: none;
            cursor: pointer;
            outline: none;
          }
          label {
            font-size: 10px;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .main {
    display: flex;
    .sidebar {
      max-width: 17%;
      padding: 1.4em 1.5em 0 $padding-sections;
      background-color: $background-grey;
      h5 {
        margin: 0;
        font-weight: 500;
        color: $background-blue;
      }
      .sidebar__container {
        width: 9.3em;
        margin-top: 1em;
        border: 1px solid $background-blue;
      }
      .subtype {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2em 0.3em 0.3em 0.3em;
        background-color: $background-blue;
        h6 {
          margin: 0;
          font-size: 8px;
          color: white;
        }
        a {
          font-size: 8px;
          color: white;
        }
      }
      .subtype-search {
        height: 10rem;
        padding: 0 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: white;
        &::-webkit-scrollbar {
          //background-color: $background-grey;
        }
        &::-webkit-scrollbar-button {
          color: $background-blue;
          background-color: $background-blue;
        }
        input {
          width: 99%;
          padding: 0.5em 0 0.3em 0.5em;
          margin-top: 0.7em;
          font-size: 9px;
          border: 1px solid  $background-light_blue;
        }
        .subtype-search__list {
          display: flex;
          flex-direction: column;
          div {
            margin-top: 0.8em;
            font-size: 10px;
            &:first-child {
              margin-top: 0.6em;
            }
          }
        }
      }
    }
    .main-content {
      width: 100%;
      .main-content__search-tags {
        display: flex;
        align-items: center;
        padding: 1em $padding-sections 1em 1.5em;
        border-bottom: 1px solid $background-grey;
        a {
          margin-right: 1em;
          color: $background-blue;
          font-size: 10px;
          cursor: pointer;
        }
        button {
          height: 32px;
          padding: 0 1em;
          margin-right: 1em;
          font-size: 10px;
          background-color: $background-orange;
          color: $background-grey;
          border: none;
          cursor: pointer;
          outline: none;
          i {
            margin-right: 0.5em;
            font-size: 8px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .sorted-items {
        padding: 0 $padding-sections 0 1.5em;
        margin-top: 1.1em;
        .sorted-items__sorted-by {
          display: flex;
          justify-content: space-between;
          div {
            position: relative;
            select {
              display: block;
              width: 9em;
              height: 23px;
              padding-left: 0.5em;
              font-size: 10px;
              color: grey;
              border: 1px solid $background-light_blue;
              background-color: white;
            }
          }
          div:after {
            content: '▼';
            position: absolute;
            right: 1px;
            top: 1px;
            height: 13px;
            padding: 0.5em;
            font-size: 8px;
            background-color: $background-grey;
            pointer-events: none;
          }
        }
        .sorted-items__list {
          display: flex;
          flex-direction: column;
          margin-top: 1em;
          .sorted-items__list__item {
            display: flex;
            margin-top: 1.1em;
            font-size: 10px;
            border: 1px solid lightgrey;
            &:first-child {
              margin-top: 0;
            }
            .content {
              width: 85%;
              display: flex;
              padding: 2em;
              .content__image {
                width: 30%;
                height: 100%;
                margin: auto;
                border: 1px solid lightgrey;
              }
              .content__info {
                width: 70%;
                display: flex;
                flex-direction: column;
                margin: 0.8em 1.6em 0.8em 1.6em;
                color: $background-blue;
                .content__info__sections {
                  display: flex;
                  align-items: center;
                  a {
                    font-size: 9px;
                    color: $background-blue;
                  }
                  i {
                    font-size: 6px;
                    margin: 0 1em;
                  }
                }
                h2 {
                  font-size: 17px;
                  margin: 0.7em 0 0;
                }
                h4 {
                  margin: 0.2em 0 0.8em;
                }
                footer {
                  display: flex;
                  div {
                    margin: 0.5em 0;
                  }
                  div:first-child {
                    margin-right: 15%;
                  }
                }
              }
            }
            .tags {
              width: 15%;
              padding: 1.5em 2em 1.5em 1.1em;
              background-color: $background-grey;
              border-left: 1px solid lightgrey;
              div {
                display: flex;
                flex-direction: column;
                margin-top: 0.8em;
                &:first-child {
                  margin-top: 0;
                }
                a {
                  color: $background-blue;
                }
              }
              .tags__upgrade {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                button {
                  padding: 0.3em 0.3em;
                  margin: 0 0.3em;
                  font-size: 7px;
                  background-color: $background-blue;
                  color: white;
                  border: none;
                  cursor: pointer;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
