@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.header {
  display: flex;
  align-items: center;
  height: 4em; }

.header .header__image {
  width: 15em;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
  background-color: white;
  border-right: 1px solid #eeeeee; }

.header .header__image img {
  width: 100%; }

.header nav {
  display: flex;
  align-items: center; }

.header nav a {
  height: 5em;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  transition: all 0.3s;
  font-size: 0.8em;
  border-right: 1px solid #eeeeee;
  font-weight: 700;
  color: rgba(23, 57, 74, 0.62);
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none; }

.header nav a i {
  margin-right: 0.2rem;
  font-size: 1.5em;
  color: #eeeeee; }

.header nav a:last-child {
  border-right: none; }

.header nav a:hover {
  color: #17394a;
  background-color: #ff7c23;
  border-right: 1px solid #ff7c23; }

.header nav a:hover i {
  color: white; }

.header .header__profile {
  display: flex;
  padding: 1.25em;
  margin-left: auto;
  transition: opacity 0.3s;
  background-color: #eeeeee;
  text-decoration: none; }

.header .header__profile i {
  opacity: 0.6;
  font-size: 1.5em;
  color: rgba(23, 57, 74, 0.62); }

.header .header__profile:hover i {
  opacity: 1; }

@media (min-width: 767px) and (max-width: 945px) {
  .header {
    position: absolute; } }

.search {
  padding: 1.5em calc(1.5em * 2);
  margin: 0 auto;
  background-color: #17394a;
  color: white; }

.search .search__container h3 {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 400; }

.search .search__container .search__container__description {
  display: flex;
  align-items: baseline; }

.search .search__container .search__container__description h6 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400; }

.search .search__container .search__container__description a {
  margin-left: 0.5em;
  font-size: 1.5em;
  color: white; }

.search .search__container .search__container__form {
  display: flex;
  margin-top: 1.5em; }

.search .search__container .search__container__form .form-control {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin-right: 1.7em; }

.search .search__container .search__container__form .form-control:last-child {
  width: 25%;
  margin-right: 0; }

.search .search__container .search__container__form .form-control input {
  width: 97%;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  box-shadow: 0 0 10px #1e78ff;
  outline: none; }

.search .search__container .search__container__form .form-control button {
  width: 100%;
  height: 2.25em;
  transition: opacity 0.3s;
  opacity: 1;
  background-color: #0fbc20;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none; }

.search .search__container .search__container__form .form-control button:hover {
  color: #17394a;
  opacity: 0.7; }

.search .search__container .search__container__form .form-control label {
  margin-top: 0.5em;
  font-size: 1em;
  white-space: nowrap; }

.sidebar {
  padding: 1.5em;
  background-color: #eeeeee; }

.sidebar h5 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #17394a; }

.sidebar .sidebar__container {
  width: 13em;
  margin-top: 1em;
  border: 1px solid #17394a; }

.sidebar .subtype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  background-color: #17394a; }

.sidebar .subtype h6 {
  margin: 0;
  font-size: 0.9em;
  color: white; }

.sidebar .subtype button {
  padding: 0;
  color: white;
  font-size: 0.9em;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  cursor: pointer; }

.sidebar .subtype button:hover {
  border-bottom: none; }

.sidebar .subtype-search {
  height: 15em;
  padding: 0 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white; }

.sidebar .subtype-search .subtype-search__search {
  width: 98%;
  padding: 0.4em 0 0.4em 0.5em;
  margin-top: 0.7em;
  font-size: 0.8em;
  border: 1px solid rgba(23, 57, 74, 0.62);
  outline: none; }

.sidebar .subtype-search .subtype-search__list {
  display: flex;
  flex-direction: column; }

.sidebar .subtype-search .subtype-search__list div {
  display: flex;
  align-items: center;
  margin-top: 0.8em;
  font-size: 1em; }

.sidebar .subtype-search .subtype-search__list div .checkbox {
  width: 0.8em;
  margin: 0 0.5em 0 0;
  border: 1px solid rgba(23, 57, 74, 0.62); }

.search-tags {
  display: flex;
  align-items: center;
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-bottom: 2px solid #eeeeee; }

.search-tags a {
  margin-right: 1em;
  color: #17394a;
  font-size: 1em;
  cursor: pointer; }

.search-tags button {
  height: 2em;
  padding: 0 1em;
  margin-right: 0.8em;
  transition: all 0.3s;
  font-size: 1em;
  background-color: #ff7c23;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  outline: none; }

.search-tags button i {
  margin-right: 0.5em;
  font-size: 1em; }

.search-tags button:first-child {
  height: auto;
  padding: 0;
  color: #17394a;
  background: none;
  border: none;
  border-bottom: 1px solid #17394a; }

.search-tags button:first-child:hover {
  background: none;
  border-bottom: none; }

.search-tags button:last-child {
  margin-right: 0; }

.search-tags button:hover {
  color: #17394a;
  background-color: #ff9e33; }

.sorted-items__list__item {
  display: flex;
  margin-top: 1.1em;
  font-size: 1em;
  border: 1px solid lightgrey; }

.sorted-items__list__item:first-child {
  margin-top: 0; }

.sorted-items__list__item .content {
  width: 80%;
  display: flex;
  padding: 1.5em; }

.sorted-items__list__item .content .content__image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid lightgrey; }

.sorted-items__list__item .content .content__image img {
  max-width: 100%;
  max-height: 100%; }

.sorted-items__list__item .content .content__info {
  display: flex;
  flex-direction: column;
  margin: 0.8em 0 0.8em 1.5em;
  color: #17394a; }

.sorted-items__list__item .content .content__info .content__info__sections {
  display: flex;
  align-items: center; }

.sorted-items__list__item .content .content__info .content__info__sections a {
  font-size: 1em;
  white-space: nowrap;
  color: #17394a; }

.sorted-items__list__item .content .content__info .content__info__sections i {
  font-size: 0.5em;
  margin: 0 1em; }

.sorted-items__list__item .content .content__info h2 {
  font-size: 1.5em;
  margin: 0.7em 0 0; }

.sorted-items__list__item .content .content__info h4 {
  font-size: 1.5em;
  margin: 0.2em 0 0.8em; }

.sorted-items__list__item .content .content__info footer {
  display: flex; }

.sorted-items__list__item .content .content__info footer div {
  margin: 0.5em 0; }

.sorted-items__list__item .content .content__info footer div:first-child {
  margin-right: 15%; }

.sorted-items__list__item .tags {
  width: 20%;
  padding: 1.5em 1em;
  background-color: #eeeeee;
  border-left: 1px solid lightgrey; }

.sorted-items__list__item .tags div {
  display: flex;
  flex-direction: column;
  margin-top: 1em; }

.sorted-items__list__item .tags div:first-child {
  margin-top: 0; }

.sorted-items__list__item .tags div a {
  color: #17394a; }

.sorted-items__list__item .tags .tags__upgrade {
  display: flex;
  flex-direction: row;
  align-items: baseline; }

.sorted-items__list__item .tags .tags__upgrade button {
  padding: 0.4em;
  margin-left: 0.3em;
  font-size: 0.8em;
  background-color: #17394a;
  color: white;
  border: none;
  cursor: pointer;
  outline: none; }

.sorted-items__list__item .tags .tags__upgrade button:hover {
  background-color: rgba(23, 57, 74, 0.62); }

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif; }

.container {
  max-width: 1174px;
  margin: 0 auto; }

main {
  display: block; }

main .main {
  display: flex; }

main .main .main-content {
  width: 100%; }

main .main .main-content .sorted-items {
  padding: 1.5em 1.5em 1.5em 1.5em; }

main .main .main-content .sorted-items .sorted-items__sorted-by {
  display: flex;
  justify-content: space-between; }

main .main .main-content .sorted-items .sorted-items__sorted-by label {
  font-size: 1.5em; }

main .main .main-content .sorted-items .sorted-items__sorted-by div {
  position: relative; }

main .main .main-content .sorted-items .sorted-items__sorted-by div select {
  display: block;
  width: 9em;
  height: 2em;
  padding-left: 0.5em;
  font-size: 1em;
  color: grey;
  border: 1px solid rgba(23, 57, 74, 0.62);
  background-color: white;
  cursor: pointer;
  outline: none; }

main .main .main-content .sorted-items .sorted-items__sorted-by div:after {
  content: '▼';
  position: absolute;
  right: 1px;
  top: 1px;
  height: 0.9em;
  padding: 0.3em 0.5em 0.7em 0.5em;
  background-color: #eeeeee;
  pointer-events: none; }

main .main .main-content .sorted-items .sorted-items__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }
