@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$font: 'Source Sans Pro', sans-serif;
$max-width: 874px;
$background-grey: #dbdbdb;
$background-blue: #111178;
$background-orange: #ff7c23;
$padding-sections: 3rem;