{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": null,
    "declaration-property-value-blacklist": [],
    "max-nesting-depth": [3],
    "selector-max-compound-selectors": []
  }
}