{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": null,
    "declaration-property-value-blacklist": [],
    "max-nesting-depth": [4],
    "selector-max-compound-selectors": [],
    "scss/dollar-variable-pattern": false
  }
}